.bg {
    min-height: 100vh;
    background-color: #eef5ff;
}

.main-contents{
    padding: 5%;
    
}

.main-contents h1{
    text-align: center;
}


  
.container{
    padding-bottom:30px;
}

.display-4 {
    color:rgb(32, 70, 139);
    font-style: italic;
    font-weight: bold;
}

.lead {
    color:rgb(32, 70, 139);
}

.button-4{
    width:140px;
    height:50px;
    border:2px solid #212380;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 ;
  }
  .button-4 a{
    font-family:arial;
    font-size:16px;
    color:#213780;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
  }
  .eff-4{
    width:140px;
    height:50px;
    left:-140px;
    background:#213780;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }
  .button-4:hover .eff-4{
    left:0;
  }
  .button-4:hover a{
    color:rgb(255, 255, 255);
  }