

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');

body {
  background: #ffffff;
  font-family: 'Encode Sans SC', sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}



/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0px;
}

h1 {
  color: #3d3d3f;
  font-size: 50px;
  line-height: normal;
}

h2 {
  color: #575757;
  font-size: 40px;
  line-height: 52px;
  margin-top: 0px;
}

h4 {
  color: #797979;
  font-size: 18px;
  font-weight: normal;
}

p {
    color: #878787;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.2px;
}

strong, span {
  color: #878787;
  font-weight: normal;
}



/*---------------------------------------
  Buttons               
-----------------------------------------*/

.section-btn {
  background: #3f75da;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 14px 32px 18px 32px;
  margin-top: 32px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.section-btn:focus,
.section-btn:hover {
  background: #000000;
  color: #ffffff;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #575757;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
}

#about, #work,
#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

#about img, #team img {
  border-radius: 5px;
}

#work {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#contact {
  text-align: center;
}



/*---------------------------------------
  Pre loader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #000000;
  border-top-color: #f9f9f9;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
  Navigation section              
-----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: #ffffff;
  padding-top: 22px;
}

.custom-navbar .navbar-brand {
  color: #444;
  font-weight: normal;
  font-size: 20px;
}

.custom-navbar .nav li a {
  font-size: 12px;
  font-weight: normal;
  color: #656565;
  letter-spacing: 1px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 12px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #000000;
  border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      box-shadow:0 40px 100px rgba(0,0,0,.2);
      padding: 10px 0;
    }

}



/*---------------------------------------
  Home section              
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 62px;
}

#home img {
  width: 120px;
  height: 120px;
}


/*---------------------------------------
  About section              
-----------------------------------------*/

#about .section-title {
  padding-bottom: 16px;
}

#about .col-md-4 a {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 6px 6px 0px 0;
}

#about .about-thumb {
  margin-top: 22px;
}

#about .about-thumb strong {
  font-weight: normal;
  display: block;
  padding-top: 4px;
}



/*---------------------------------------
  Skill section              
-----------------------------------------*/

#skill {
  border-top: 1px solid #f0f0f0;
  padding-top: 80px;
  padding-bottom: 60px;
}

.skill-thumb strong,
.skill-thumb span {
  color: #575757;
  font-size: 16px;
  padding-bottom: 8px;
  display: inline-block;
}

.skill-thumb .progress {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: none;
  height: 4px;
}

.skill-thumb .progress-bar-primary {
  background: #3d3d3f;
}



/*---------------------------------------
  Work section              
-----------------------------------------*/

#work .work-thumb {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#work .work-thumb:hover {
  background: #ffffff;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#work .work-thumb img {
  border-radius: 5px;
}



/*---------------------------------------
  Contact section              
-----------------------------------------*/

#contact .form-control {
  border-radius: 0px;
  border-color: #f0f0f0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom: 2px solid #999999;
}

#contact input {
  height: 55px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

#contact button#submit {
  background: #000000;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 300;
  height: 55px;
  padding-bottom: 10px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #3f75da;
  color: #ffffff;
}


/*---------------------------------------
  Mobile Responsive styles              
-----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  #home {
    height: 50vh;
  }
}

@media (min-width: 667px) and (max-width: 767px) {
  #home {
    height: 140vh;
  }
}

@media (min-width: 568px) and (max-width: 665px) {
  #home {
    height: 190vh;
  }
}

@media (max-width: 980px) {

 h1 {font-size: 33px;}

 #work .work-thumb {
  margin-top: 30px;
 }

}


@media (max-width: 768px) {

  h1 {
    font-size: 30px;
    line-height: normal;
  }

  h2  {font-size: 30px;}

  .custom-navbar {
    background-color: #ffffff;
    box-shadow:0 40px 100px rgba(0,0,0,.2);
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .custom-navbar .nav {
    padding-bottom: 10px;
  }

  .custom-navbar .nav li a {
    display: inline-block;
    margin-bottom: 5px;
  }

}


@media (max-width: 580px) {

  #about .about-thumb {
    margin-top: 0px;
  }

  .about-thumb .social-icon {
    margin-bottom: 15px;
  }

}


@media (max-width: 357px) {

  h1 {
    font-size: 28px;
  }

  #about .col-md-4 a {
    width: 85px;
    height: 85px;
  }

}

/********************** get started Button *********************/
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #000e8b;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #000e8b;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #000e8b;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #000e8b;;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}


/********************** box *********************/
.boxes{
  margin: 20px;
  margin-top: 50px;
  background-color: white;
  overflow:auto;
  
  border-radius: 10px 10px 10px 10px;
}

.boxes1{
  margin: 20px;
  margin-top: 150px;
  min-height: 130vh;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("https://cdn.crowdpic.net/list-thumb/thumb_l_C560EB4BC0DC225382D260536C36533D.png");
  overflow:auto;
  box-shadow: 0px 12px 18px -6px black;
  border-radius: 10px 10px 10px 10px;
}

.grids {
  max-width: 80%;
  margin:auto;
}


html, body {
	line-height: 1.7;
	margin: 0;
	padding: 0;
}
body {
	color: #999;
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main { 
    display: block;
}
hr {
	border-left: none;
	border-right: none;
    border-top: 1px solid #E5E5E5;
    color: #F4F4F4;
    margin: 20px 0;
    padding: 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
	color: #2ec06c;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a img {
	border: none;
}
a[class*="glyphicon-"] {
	text-decoration: none;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1, h2 {
	font-weight: 300;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5, h6 {
	font-size: 1em;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul, ul li,
ol, ol li,
p, form, input {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 10px;
}
ul, ul li {
	list-style: none;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
	max-width: 100%;
}
img.image-left {
	float: left;
	margin-right: 5px;
}
img.img-full-width {
	width: 100%;
}
img.img-circle {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* =============== PREDEFINED CONTENT ALIGN =============== */
.margin-left {
	margin-left: 1em !important;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em !important;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.container {
	position: relative;
}
[layout="row"] {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.fsr {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.fg {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.fw {
	flex-wrap: wrap;
}
.verticalStretch {
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
}
.verticalCenter {
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.nino-btn {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	text-align: center;
	border: 2px solid #fff;
	font-size: 12px;
	line-height: 100%;
}
.nino-btn:hover {
	color: #fff;
}
.bg-white {
	background-color: #fff !important;
}
/* =============== HOVER EFFECT =============== */
.nino-hoverEffect {
	text-align: center;
}
.nino-hoverEffect .item {
	background: #95e1d3;
	display: inline-block;
}
.nino-hoverEffect .item .overlay {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
.nino-hoverEffect .item .overlay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;	
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
	background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
	background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
	background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nino-hoverEffect .item:hover .overlay {
	left: -10px;
	top: -10px;
}
.nino-hoverEffect .item:hover .overlay:before {
	opacity: 1;	
}
.nino-hoverEffect .content {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	z-index: 1;
	opacity: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;	
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.nino-hoverEffect .item:hover .content {
	opacity: 1;
}


/* =============== LAYOUT - CONTENT AREA =============== */
section {
	padding: 80px 0;
}
#nino-slider .nino-sectionHeading {
	font-size: 110px;
	color: #fff;
}
#nino-slider .nino-sectionHeading .nino-subHeading {
	font-size: 55px;
}
#nino-slider .nino-sectionHeading:after {
	background: #fff;
}
.nino-sectionHeading {
	font-weight: 700;
	font-size: 25px;
	line-height: 1;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
  
}
.nino-sectionHeading:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #3e92ff;
	transform: translateX(-50%);
}
.nino-sectionHeading .nino-subHeading {
	display: block;
	text-transform: none;
	font-weight: 400;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	margin-bottom: 20px;
}
.nino-sectionDesc {
	text-align: center;
	max-width: 750px;
	margin: 0 auto 40px;
}


/* =============== SECTION SERVICES =============== */
#nino-services .nino-icon {
	font-size: 30px;
	margin-right: 20px;
	color: #95e1d3;
}
#nino-services .item:not(:nth-last-child(-n+3)) {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 50px;
	padding-bottom: 40px;
}
#nino-services .nino-serviceTitle {
	font-weight: 500;
	font-size: 14px;
}



/* =============== SECTION LATEST BLOG =============== */
#nino-latestBlog article .articleThumb {
	position: relative;
	margin-bottom: 20px;
}
#nino-latestBlog article .date {
	position: absolute;
	background: #95e1d3;
	left: -10px;
	bottom: 10px;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
}
#nino-latestBlog article .date .number {
	display: block;
	font-size: 28px;
	line-height: 100%;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
#nino-latestBlog article .date .text {
	display: block;
	font-weight: 300;
	font-style: italic;
}
#nino-latestBlog article .articleTitle {
	font-size: 14px;
}
#nino-latestBlog article .articleMeta {
	border-top: 1px solid #e5e5e5;
	margin-top: 15px;
	padding-top: 15px;
}
#nino-latestBlog article .articleMeta a {
	color: #999;
	display: inline-block;
	margin-right: 15px;
	font-style: italic;
	font-weight: 300;
}
#nino-latestBlog article .articleMeta a:hover {
	color: #000;
}
#nino-latestBlog article .articleMeta .nino-icon {
	color: #95e1d3;
	font-size: 17px;
	position: relative;
	top: 2px;
}


/* =============== SECTION WHAT WE DO =============== */
#nino-whatWeDo .panel-group {
	margin: 0;
}
#nino-whatWeDo .panel-group .panel+.panel {
    margin-top: 8px;
}
#nino-whatWeDo .panel-default {
	border-color: #e5e5e5;
	border-radius: 0;
}
#nino-whatWeDo .panel-default > .panel-heading {
	background: #fff;
	padding: 0;
}
#nino-whatWeDo .panel-title {
	font-size: 14px;
}
#nino-whatWeDo .panel-title a {
	display: block;
	padding: 20px 15px 20px 50px;
	position: relative;
	text-decoration: none;
}
#nino-whatWeDo .panel-title .nino-icon {
	position: absolute;
	left: 10px;
	top: 13px;
	font-size: 30px;
	color: #95e1d3;
}
#nino-whatWeDo .panel-title .nino-icon.arrow {
	left: auto;
	right: 10px;
	color: #ccc;
}
#nino-whatWeDo .panel-title .collapsed .nino-icon.arrow {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);
}
#nino-whatWeDo .panel-body {
	font-style: italic;
	height: 185px;
	font-weight: 300;
}
#nino-whatWeDo .mCS-default .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#nino-whatWeDo .mCS-default .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
#nino-whatWeDo .mCS-default .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background: #95e1d3;
}
#nino-whatWeDo .mCSB_scrollTools .mCSB_draggerRail {
	background: #f5f5f5;
}

/* =============== SECTION STORY ABOUT US =============== */
#nino-story .content {
	font-weight: 700;
	font-size: 14px;
}
#nino-story .content .nino-icon {
	display: block;
	font-size: 30px;
}

#nino-latestBlog article .articleTitle {
		font-size: 11px;
	}
	#nino-latestBlog article .date {
		padding: 8px 12px;
	}
	#nino-latestBlog article .date .number {
		font-size: 18px;
	}
	#nino-latestBlog article .date .text {
		font-size: 11px;
	}

  /* =============== SECTION HAPPY CLIENT =============== */
#nino-happyClient {
	background-color: rgb(255, 255, 255);
  background: linear-gradient(rgb(232, 232, 255), rgb(255, 223, 229));
  }
#nino-happyClient .item {
	margin-bottom: 30px;
}
#nino-happyClient .nino-avatar {
	width: 80px;
	margin-right: 30px;
}
#nino-happyClient .name {
	font-size: 14px;
}
#nino-happyClient .regency {
	position: relative;
	padding-bottom: 12px;
	display: inline-block;
	font-style: italic;
	margin-bottom: 12px;
}
#nino-happyClient .regency:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #f38181;
}


/************Tab class *************/
#tab-align{
  margin: 0 auto;
  text-align: center;
}