@import "../Main/Main.css";
/*****post input*****/

.boxes_post {
  background-color: #ffffff;
  overflow: auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 70%;
  margin: 0px auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.post-font {
  font-size: 15px;
  font-weight: 200;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}
