
/*****post input*****/

.input-file-button {
    padding: 6px 15px;
    background-color: rgb(0, 64, 116);
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .input-file-button:hover {
    background-color: rgb(230, 244, 255);
    color: rgb(0, 64, 116);
  }
  
  .fa-star-of-life {
    color: rgb(128, 200, 255);
  }
  
  /***/
  .filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 30%;
    color: rgb(151, 151, 151);
  }
  .filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: rgb(0, 64, 116);
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border-radius: 3px;
  }
  
  .filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  
  .boxes_post {
    margin: auto;
    background-color: rgb(0, 54, 105);
    overflow: auto;
    padding-left: 2%;
    padding-top: 0.6%;
    padding-bottom: 0.4%;
    box-shadow: -2px 10px 10px -6px rgb(197, 197, 197);
    width: 70%;
    margin: auto;
  }
  
  .post-font {
    font-size: 15px;
    font-weight: 200;
    color: white;
    font-family: "Gowun Dodum", sans-serif;
  }