


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    
    background-color: #eef5ff;
    background-image: linear-gradient(135deg, #eef5ff 0%, #eef5ff 100%);
}

